<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>DSL Compiler Collection (DCC)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" type="text" formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Property" type="text" formControlName="property">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
<mat-card *ngFor="let file of files">
    <mat-card-header>
        <mat-card-title>{{ file.getName() }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pre>
{{ file.getValue().toString() }}
        </pre>
    </mat-card-content>
</mat-card>